.dish-card {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 8px;
  margin-bottom: 5px;

  @media (min-width: 576px) {
    margin-bottom: 10px;
    padding: 15px;
    gap: 15px;
  }
}

.dish-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 75%;
}

.dish-price {
  color: grey;
  font-weight: 500;
}

.dish-description {
  color: #3d3d3d;
  text-align: justify;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.dish-items-add-button-container {
  display: flex;
  gap: 5px;

  @media (min-width: 576px) {
    margin: 5px 0;
  }
}

.dish-plus-minus-container {
  background-color: #008e00;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  font-size: 20px;

  @media (max-width: 575px) {
    height: 24px;
    width: 80px;
    font-size: 16px;
  }
}

.dish-plus-minus-buttons {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 30px;

  @media (max-width: 575px) {
    font-size: 20px;
  }
}

.add-to-cart-btn {
  background-color: #ffa85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10px;

  @media (min-width: 576px) {
    padding: 5px 13px;
    font-size: 15px;
  }
}

.dish-not-available-text {
  color: #b10000;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.dish-customization-available-text {
  color: #786cff;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.dish-calories {
  color: #ffa500;
  font-weight: bold;
  align-self: center;
}

.dish-img {
  width: 70px;
  max-height: 150px;
  margin-left: auto;
  border-radius: 5px;
}
