* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.responsive-padding {
  padding: 10px 15px;

  @media (min-width: 576px) {
    padding: 10px 50px;
  }
  @media (min-width: 768px) {
    padding: 10px 75px;
  }
  @media (min-width: 992px) {
    padding: 15px 100px;
  }
  @media (min-width: 1200px) {
    padding: 15px 180px;
  }
}

/* No DATA STYLES */

.no-data-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.no-data-img {
  border-radius: 10px;
  width: 220px;

  @media (min-width: 768px) {
    width: 320px;
  }
}
